<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="foots">
          <div >
            <img src="{% static 'images\logo-no-background.png' %}" style="width: 200px;"  alt="">
            
          </div>
          <div class="foot">
            <p>About Us </p>
            <p>Contact Us</p>
            <p></p>
          </div>
          <div class="foot">
            <p>Order status</p>
            <p>Return and Exchanges</p>
            <p>International Ordes</p>
            <p>Terms & condition</p>
            <p>Privacy policy</p>
          </div>
          <div class="foot">
            <p>Cancellation policy</p>
            <p>Shipping policy</p>
            <p>Ordering & payment</p>
          </div>

      </div>
    
</body>
</html>