{% extends "common.html" %}
{% block title %}women's wear{% endblock title %}
{% block content %}
{% load static %}
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        
        <div class="carousel-item active">
          
          <img src="{% static "images/s-2.jpg" %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static "images/e553-overlay.jpg" %}" class="d-block w-100" alt="...">
        </div>
        
      </div>
  </div> 
 
<h5 style="text-align: center; color: darkolivegreen; padding-top: 1em;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SHOP WOMEN'S WEAR</h5>
<div class="menlist">
{% for subcategory in catcategories %}
                    {% if subcategory.category.name == "Women's Wear" or subcategory.category.name == "Women Ethnic" %}
                        <li class="list1" >
                            <a href="{% url 'sub' subcategory.id %}">
                                <button class="list2"  style="padding-inline: 1.3em;">{{ subcategory.categoryname }}</button>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
</div>  
    <div id="product-list">
    
        {% for product in products %}
        <div id="product-item"  class="card" >
            
            <a  href="{% url 'viewprod' product.id %}">
                <img src="{{product.image.url}}"  class="card-img-top" style="width: 300px;" alt="img">
                <div class="im" class="card-body"> 
                    <h4 class="proname">{{ product.name }}</h4>
                    <p class="prodes">{{ product.description }}</p>
                    <p>Price: $ {{ product.rate }}</p>

                </div>
           
            </a>
        </div>
   
    {% endfor %}
   
</div>
{% endblock content %}